@model FavoriteMovie.ViewsModels.Media.CreateMediaViewModel

@{
    ViewData["Title"] = "Nouveau Titre";
}

<h1>@ViewData["Title"]</h1>

<h4>Formulaire d'ajout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User" value="@User.Identity" />
            <div class="form-group mb-2">
                <label>Champs obligatoires :</label>
            </div>

            <div id="select-type" class="form-group">
                <select class="virtual-select" placeholder="Sélectionnez un type" data-search="false"
                        asp-for="MediaType">
                    <option value="" disabled selected>Un choix possible..</option>
                    @foreach (var mediaType in ViewBag.AllMediasTypes)
                    {
                        <option value="@mediaType">@mediaType.Name</option>
                    }
                </select>
                <span asp-validation-for="MediaType" class="text-danger"></span>
            </div>


            <div id="select-category" class="form-group my-3">
                <select class="virtual-select" multiple placeholder="Sélectionnez un ou plusieurs genres"
                        data-disable-select-all="true" data-search="true" data-search-placeholder-text="Recherche..."
                        data-no-search-results-text="Aucun résultat"
                        asp-for="MediasGenres">
                    @foreach (var mediaGenre in ViewBag.AllMediasGenres)
                    {
                        <option value="@mediaGenre">@mediaGenre.Name</option>
                    }
                </select>
                <span asp-validation-for="MediasGenres" class="text-danger"></span>
            </div>


            <div class="form-group my-2">
                <input asp-for="Name" class="form-control " placeholder="Titre" style="border-radius: 5px; border: solid 1px #e8e8e8;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <input asp-for="Note" class="form-control" placeholder="Note Personnel" style="border-radius: 5px; border: solid 1px #e8e8e8;" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label>Champs optionnels :</label>
            </div>
            <div class="form-group my-2">
                <input asp-for="AllocineDescription" class="form-control" placeholder="Description AlloCiné" style="border-radius: 5px; border: solid 1px #e8e8e8;" />
                <span asp-validation-for="AllocineDescription" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input asp-for="AllocineLink" class="form-control" placeholder="Lien AlloCiné" style="border-radius: 5px; border: solid 1px #e8e8e8;" />
                <span asp-validation-for="AllocineLink" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input asp-for="StreamingLink" class="form-control" placeholder="Lien Streaming" style="border-radius: 5px; border: solid 1px #e8e8e8;" />
                <span asp-validation-for="StreamingLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn btn-sm btn-success">Retour</button></a>
</div>

@section Scripts {
    @{
        <script src="~/lib/virtual-select/dist/virtual-select.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                VirtualSelect.init({
                    ele: '.virtual-select'
                });
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
