@model FavoriteMovie.ViewsModels.Media.DetailsMediaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Media</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocineDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocineDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocineLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocineLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreamingLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreamingLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
