@model FavoriteMovie.ViewsModels.Media.IndexMediaViewModel

<!-- Section pour les films en attente -->
<h2>En Attente</h2>
<span>(@Model.TotalMediasWaitingCount/@Model.TotalMediasCount ajoutés)</span>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Nom</th>
            <th class="note-table">Genre(s)</th>
            <th class="addedBy-table">Ajouté par</th>
            <th>Favoris</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MediasWaiting)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Media.MediaType.Name)

                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Media.Id">
                        @Html.DisplayFor(modelItem => item.Media.Name)
                    </a>
                </td>
                <td class="truncate">
                    @foreach (var genre in item.Media.MediasGenres)
                    {
                        <span>@genre.Name</span>
                    }
                </td>
                <td class="addedBy-table">
                    @Html.DisplayFor(modelItem => item.Media.User.UserName)
                </td>


                <td>
                    <button class="btn btn-sm toggle-favorite" data-media-id="@item.Media.Id" data-is-favorite="@(item.IsFavorite ? "true" : "false")">
                        @if (item.IsFavorite)
                        {
                            <i class="bi bi-star-fill text-warning"></i>
                        }
                        else
                        {
                            <i class="bi bi-star text-warning"></i>
                        }
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.MediasWaiting.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.MediasWaiting.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:loadMediasWaiting(@Model.MediasWaiting.PageIndex - 1)">Précédent</a>
                </li>
            }

            @if (Model.MediasWaiting.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:loadMediasWaiting(@Model.MediasWaiting.PageIndex + 1)">Suivant</a>
                </li>
            }
        </ul>
    </nav>
}